

canvas {
  display: block;
  margin: auto;
}

h1 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 0px;
  left: 10px;
}

#toggleBtn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#toggleBtn.off {
  background-color: #888;
}